@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap');

:root {
	--primaryColour: #393f4d;
	--secondaryColour: #feda6a;
	--primaryFont: 'Red Hat Display', sans-serif;
	--baseFontSize: 18px;
}

.template--dark {
	--primaryColour: #feda6a;
	--secondaryColour: #393f4d;
}

@mixin flexcenter() { 
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	@include flexcenter();
	background-color: var(--secondaryColour);
	overflow: hidden;
	position: relative;
	min-height: 100vh;
}

/* Theme Toggle Component */

.theme-toggle {
	position: absolute;
	top: 1rem;
	right: 2rem;
	z-index: 1;
	border: none;
	
	&__container {
      border: none;
      margin: 0;	
	}
	
	&__input  {
      height: 0;
      width: 0;
      visibility: hidden;		
	}
	
	&__label {
      cursor: pointer;
      text-indent: -9999px;
      width: 52px;
      height: 27px;
      background: #fff;
      float: right;
      border-radius: 100px;
      position: relative;
      border: 2px solid var(--primaryColour);
		
		&::after {
			content: '';
			position: absolute;
			top: 3px;
			left: 3px;
			width: 20px;
			height: 20px;
			background: var(--primaryColour);
			border-radius: 90px;
			transition: 0.3s ease-out all;			
		}
	}
}

    .theme-toggle__input:checked+.theme-toggle__label {
      background: #ffffff;
    }

    .theme-toggle__input:checked+.theme-toggle__label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
      background: var(--secondaryColour);
    }

    .theme-toggle__label:active:after {
      width: 45px;
    }

    .theme-toggle__icon {
      border-radius: 50%;
      background: linear-gradient(to right, #ff8a5c 40%, #e74c3c 100%);
      height: 50px;
      width: 50px;
      position: absolute;
      right: 5rem;
      top: -10px;
      border: none;
    }

    .theme-toggle__icon::after {
      content: "";
      border-radius: 50%;
      background-color: var(--secondaryColour);
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 0;
      transition: .25s ease-out top, .25s ease-out left, .25s ease-out opacity;
      opacity: 0;
    }

    .theme-toggle__input:checked+.theme-toggle__label+.theme-toggle__icon {
      background: linear-gradient(to right bottom, #728bf4 20%, #959ff6, #b2b4f8, #ccc9fa, #e3e0fc, #e0dff2, #dedde8,
          #dcdcde, #a7abae, #8d9496, #747d7d);
    }

    .theme-toggle__input:checked+.theme-toggle__label+.theme-toggle__icon::after {
      top: -14px;
      left: 14px;
      opacity: 1;
    }

@media (max-width: 425px) {
	

      .theme-toggle__label {
        margin: 0 auto;
        margin-right: 20px;
      }

      .theme-toggle__icon {
        width: 30px;
        height: 30px;
        top: 0;
        right: 5.5rem;
      }

      .theme-toggle__icon::after {
        width: 30px;
        height: 30px;
      }

      .theme-toggle__input:checked+.theme-toggle__label+.theme-toggle__icon::after {
        top: -8px;
        left: 8px;
        opacity: 1;
      }
}

.theme-title {
	color: var(--primaryColour);
	font-family: var(--primaryFont);
	letter-spacing: 2px;
	font-weight: 900;
	font-size: 3rem;
	
	&::before {
		content: "Light";
		
		@at-root .template--dark .theme-title::before {
			content: "Dark";
		}
	}
}